.landing-page-container {
    padding: 28px 24px;
}
.search-box-container {
    --button-width: 50px;
    position: relative;
    display: flex;
    align-items: center;
    margin: 16px 0px 30px 0px; 
}

.search-box {
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: #EEEAF2;
    padding: 0 calc(var(--button-width) + 16px) 0 16px;
    font-family: 'Red Hat Display';
    font-size: var(--ff-big);
}

.search-box:focus {
    outline: 1px solid var(--primary-color);
}

.search-box-button {
    position: absolute;
    width: var(--button-width);
    height: 100%;
    right: 0;
    border-radius: 0 8px 8px 0;
    border: none;
    background-color: var(--primary-color);
    font-size: 20px;
}

.movie-gallery{
    margin: 24px 0 24px 0;
    overflow: auto;
    white-space: nowrap;
}

.movie {
    display: inline-block;
    width: 150px;
    height: 225px;
    margin: 0 16px;
    border-radius: 8px;
    background-color: brown;
}

.movie:first-child, .movie:last-child {
    margin: 0;
}

.categories {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 8px;
    margin: 24px 0 0 0;
}

.categories li{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 12px;
}

.categories li div{
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 8px;
}