.landing-page-container {
    padding: var(--app-horizontal-padding) 24px;
}
.search-box-container {
    --button-width: 50px;
    position: relative;
    display: flex;
    align-items: center;
    margin: 16px 0px 30px 0px; 
}

.search-box {
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: #EEEAF2;
    padding: 0 calc(var(--button-width) + 16px) 0 16px;
    font-family: 'Red Hat Display';
    font-size: var(--ff-big);
}

.search-box:focus {
    outline: 1px solid var(--primary-color);
}

.search-box-button {
    position: absolute;
    width: var(--button-width);
    height: 100%;
    right: 0;
    border-radius: 0 8px 8px 0;
    border: none;
    background-color: var(--primary-color);
    font-size: 20px;
}

.movie-gallery{
    margin: 24px 0 24px 0;
    overflow: auto;
    white-space: nowrap;
}

.movie {
    display: inline-block;
    width: 150px;
    height: 225px;
    margin: 0 8px;
    border-radius: 8px;
    background-color: brown;
}

.movie:first-child {
    margin-left: 0px;
}
.movie:last-child {
    margin-right: 0;
}

.categories {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 8px;
    margin: 24px 0 0 0;
}

.categories li{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 12px;
}

.categories li div{
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 8px;
}

.movie-detail-image {
    background-color: brown;
    height: 70vh;
    position: relative;
}

.go-back-button {
    --size: 50px;
    position: sticky;
    left: calc(var(--app-horizontal-padding) - 10px);
    top: 40px;
    height: var(--size);
    width: var(--size);
    font-size: var(--size);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.movie-detail {
    position: relative;
    top: -20px;
    padding: var(--app-horizontal-padding);
    background-color: white;
    border-radius: 16px 16px 0 0;
}